<div class="header__top__wrapper">
    <div class="header__top container">
        <div class="header__top__logo">
            <a href="#"> <img src="@@pastelogoImg" alt="logo"></a>
        </div>
        <div class="header__top__menu">
            <input id="menu__toggle" type="checkbox" />
            <label class="menu__btn" for="menu__toggle">
                <span></span>
            </label>
            <nav>
                <ul class="menu__box">
                    <li><a href="#">@@pastelink1</a></li>
                    <li><a href="#">@@pastelink2</a></li>
                    <li><a href="#">@@pastelink3</a></li>
                    <li><a href="#">@@pastelink4</a></li>
                    <li><a href="#">@@pastelink5</a></li>
                    <li><a href="#">@@pastelink6</a></li>
                    <li><a href="#">@@pastelink7</a></li>
                    <li><a href="#">@@pastelink8</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div class="header__bottom__wrapper swiper-container">
    <div class="header__bottom swiper-wrapper">
        <div class="swiper-slide">
            <div class="heading header__bottom__heading">
                <h2 class="heading"><span class="first">@@pasteheadingfirst</span><span class="second">
                        @@pasteheadingsecond</span></h2>
            </div>
            <div class="header__bottom__text">
                <p class="text">@@pastetext</p>
            </div>
            <div class="header__bottom__btn">
                <button class="buttonlarge header__bottom__btn1">@@pastenamebtnfirst</button>
                <button class="buttonlarge header__bottom__btn2">@@pastenamebtnsecond</button>
            </div>
        </div>

        <div class="swiper-slide">
            <div class="heading header__bottom__heading">
                <h2 class="heading"><span class="first">@@pasteheadingfirst</span><span class="second">
                        @@pasteheadingsecond</span></h2>
            </div>
            <div class="header__bottom__text">
                <p class="text">@@pastetext</p>
            </div>
            <div class="header__bottom__btn">
                <button class="buttonlarge header__bottom__btn1">@@pastenamebtnfirst</button>
                <button class="buttonlarge header__bottom__btn2">@@pastenamebtnsecond</button>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="heading header__bottom__heading">
                <h2 class="heading"><span class="first">@@pasteheadingfirst</span><span class="second">
                        @@pasteheadingsecond</span></h2>
            </div>
            <div class="header__bottom__text">
                <p class="text">@@pastetext</p>
            </div>
            <div class="header__bottom__btn">
                <button class="buttonlarge header__bottom__btn1">@@pastenamebtnfirst</button>
                <button class="buttonlarge header__bottom__btn2">@@pastenamebtnsecond</button>
            </div>
        </div>

    </div>
    <div class="bottom-btn-next swiper-button-next"></div>
    <div class="bottom-btn-prev swiper-button-prev"></div>
</div>