<div class="reseller">
    <div class="reseller__wrapper">
        <p class="reseller__name">@@pastename</p>
        <div class="reseller__price">
            <div class="resprice">@@pasteprice</div>
            <div class="value">@@pastevalue</div>
        </div>
        <p class="reseller__cpu">@@pastecpu</p>
        <p class="reseller__hard">@@pastehard</p>
        <p class="reseller__ram">@@pasteram</p>
        <p class="reseller__traffic">@@pastetraffic</p>
        <p class="reseller__connection">@@pasteconnection</p>
        <p class="reseller__ip">@@pasteip</p>
       <div class="reseller__link"> <a class="link" href="#">@@pastelinkname</a></div>
    </div>
</div>