.features__card__wrapper {
    position: relative;
    padding-bottom: 25px;
    &:hover .features__card {
        background-color: $accent;
        transition: 0.5s;
    }
    &:hover .features__card__text {
        color:$whitetext;
    }
    &:last-child {
        padding-bottom: 0;
    }
    &:hover .hexagon__wrapper .hexagon {
        background-color: $whitetext;
    }
}
.features__card {
  min-width: 350px;
  min-height: 53px;
  border: solid 1px #e7e7e7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  cursor: pointer;
  background-color: $whitetext;

  &__text {
    max-width: 280px;
    font-family: $RM;
    font-size: 20px;
    line-height: 100%;
    color: $second;
  }
  .hexagon__wrapper {
      
    position: relative;
    &:before {
      position: absolute;
      content: "\e904";
      top: 23%;
      right: 23%;
      z-index: 3;
      font-family: "icomoon";
    }

  }
  .hexagon {
    transform: rotate(90deg);
    position: relative;
    width: 30px; 
    height: 17.32px;
    background-color: #c0c0c0;
    margin: 8.66px 0;
    border-left: solid 0px #ffffff;
    border-right: solid 0px #ffffff;
  }
  
  .hexagon:before,
  .hexagon:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 21.21px;
    height: 21.21px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 4.3934px;
  }
  
  .hexagon:before {
    top: -10.6066px;
    border-top: solid 0.0000px #ffffff;
    border-right: solid 0.0000px #ffffff;
  }
  
  .hexagon:after {
    bottom: -10.6066px;
    border-bottom: solid 0.0000px #ffffff;
    border-left: solid 0.0000px #ffffff;
  }
}
