.accordion {
  border: solid 1px #e7e7e7;
  h3 {
    padding-left: 90px;
    font-family: $RM;
    font-size: 20px;
    
    &:after {
      content: "";
      position: absolute;
      border-right: solid 1px #e7e7e7;
      height: 53px;
      top: 0;
      left: 60px;
    }
  }
}
.ui-accordion-header {
  background-color: #f7f7f7;
  line-height: 45px;
  cursor: pointer;
  margin: 0;
  padding: 4px 8px;
  padding: 0.25rem 0.5rem;
  outline: none;
  border: solid 1px #e7e7e7;
  
}
.ui-accordion-header-icon,
.ui-accordion-header-active {
  background-image: url("../img/plusminus.png");
  background-repeat: no-repeat;
  background-position: 19px -126px;
  position: relative;
}

.ui-state-active {
  color: $accent;
 
}
.ui-accordion-header-icon {
}
.ui-accordion-header-collapsed {
  display: block;
  color: $second;
  
}
.ui-corner-all {
  border-right: solid 1px #e7e7e7;
}
.ui-accordion-header-active {
  background-position: 19px 11px;
}
.text {
  padding: 20px;
  p {
    @include textsectoinabout;
    font-size: 14px;
  }
}
