<div class="accordion">
       
        <h3 class="ui-accordion-header ui-accordion-header-icon" style="margin-left: 0;">@@pasteheadingone</h3>
    
        <div class="text">
          <p>@@pastetext</p>
        </div>

        <h3 class="ui-accordion-header ui-accordion-header-icon">@@pasteheadingsecond</h3>
        <div class="text">
          <p>@@pastetext</p>
        </div>

        <h3 class=" ui-accordion-header ui-accordion-header-icon ">@@pasteheadingthird</h3>
        <div class="text">
          <p>@@pastetext</p>
        </div>
</div>