<div class="about__wrapper container">
    <div class="about__heading heading">
            <h2 class="heading"><span class="first">@@pasteheadingfirst</span><span class="second"> @@pasteheadingsecond</span></h2>
    </div>
    <div class="about__subheading">
           
        
    </div>
   
    <div class="about__advantages">
        <div class="about__advantages__flat"></div>
        <div class="about__advantages__retina"></div>
        <div class="about__advantages__responsive"></div>
        <div class="about__advantages__clean"></div>
    </div>
</div>

