@font-face {
  font-family: "RalewayRegular";
  src: url("../fonts/RalewayRegular/Raleway-Regular.ttf");
}
@font-face {
  font-family: "RalewayMedium";
  src: url("../fonts/RalewayMedium/Raleway-Medium.ttf");
}
@font-face {
  font-family: "RalewayBold";
  src: url("../fonts/RalewayBold/Raleway-Bold.ttf");
}
@font-face {
  font-family: "LatoRegular";
  src: url("../fonts/LatoRegular/LatoRegular.ttf");
}
@font-face {
  font-family: "LatoBold";
  src: url("../fonts/LatoBold/LatoBold.ttf");
}
@font-face {
  font-family: "LatoLight";
  src: url("../fonts/LatoLight/LatoLight.ttf");
}
@font-face {
  font-family: "MgOpenModata";
  src: url("../fonts/MgOpenModata/MgOpenModataRegular.ttf");
}
@font-face {
  font-family: "MyriadProRegular";
  src: url("../fonts/MyriadProRegular/MyriadProRegular.otf");
}
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icons/icomoon.eot?c72bim');
  src:  url('../fonts/icons/icomoon.eot?c72bim#iefix') format('embedded-opentype'),
    url('../fonts/icons/icomoon.ttf?c72bim') format('truetype'),
    url('../fonts/icons/icomoon.woff?c72bim') format('woff'),
    url('../fonts/icons/icomoon.svg?c72bim#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
