@media screen and (max-width: 1260px) {
  // header //
  .header__top {
    .header__top__logo {
      padding-left: 20px;
    }
    .header__top__menu {
      .menu__box {
        padding-right: 20px;
        li {
          padding-right: 30px;
          a {
            font-size: 12px;
          }
          &:first-child {
            &::before {
              left: 6px;
            }
          }
          &:nth-child(2):hover::before {
            left: 17px;
          }
          &:nth-child(3):hover::before {
            left: 20px;
          }
          &:nth-child(4):hover::before {
            left: 14px;
          }
          &:nth-child(5):hover::before,
          &:nth-child(7):hover::before {
            left: 6px;
          }
          &:nth-child(6):hover::before,
          &:nth-child(8):hover::before {
            left: 15px;
          }
        }
      }
    }
  }
  .header__bottom {
    .header__bottom__text {
      max-width: 800px;
    }
  }

  //about
  .about {
    .about__wrapper {
      padding: 100px 30px;
    }
    .about__info {
      align-items: center;
      padding-bottom: 100px;
    }
    .advantages__card__hexagon {
      &::before {
        left: 42%;
      }
    }
    .flat__design__wrap {
      .advantages__card__hexagon {
        &::before {
          left: 43.5%;
        }
      }
    }
    .retina__ready__wrap {
      .advantages__card__hexagon {
        &::before {
          left: 43.5%;
        }
      }
    }
    .responsive__wrap {
      .advantages__card__hexagon {
        @include iconshexagon;
        &::before {
          left: 43.5%;
        }
      }
    }
    .clean__wrap {
      .advantages__card__hexagon {
        &::before {
          left: 44%;
        }
      }
    }
  }
  .about__advantages {
    width: 95%;
  }

  //features
  .features {
    .features__wrapper {
      padding: 100px 30px;
    }
    .features__block {
      flex-direction: column;
    }
    .features__block__left,
    .features__block__right {
      margin-top: 70px;
    }
  }
  //clients
  .clients {
    .clients__review {
      flex-direction: column;
      align-items: center;
      .clients__review__right {
        width: 57%;
        padding-top: 30px;
      }
    }
  }
  //services
  .services {
    .services__wrapper {
      padding: 100px 10px;
    }
    &__card {
      max-width: 460px;
    }
  }
  //bestseller
  .bestseller__subheading {
    max-width: 700px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 960px) {
  //header
  .header__top__menu {
    .menu__box {
      z-index: 3;
      // display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      visibility: hidden;
      top: 0px;
      margin: 0;
      text-align: center;
      background-color: $accent;
    }
    .menu__btn {
      display: flex;
      align-items: center;
      position: fixed;
      top: 20px;
      right: 20px;
      width: 26px;
      height: 27px;
      cursor: pointer;
      z-index: 4;
    }

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $whitetext;
    }
    .menu__btn > span::before {
      content: "";
      top: -8px;
    }
    .menu__btn > span::after {
      content: "";
      top: 8px;
    }

    #menu__toggle:checked ~ .menu__btn > span {
      transform: rotate(45deg);
    }
    #menu__toggle:checked ~ .menu__btn > span::before {
      top: 0;
      transform: rotate(0);
    }
    #menu__toggle:checked ~ .menu__btn > span::after {
      top: 0;
      transform: rotate(90deg);
    }
    #menu__toggle:checked ~ nav .menu__box {
      visibility: visible;
      left: 0;
      width: 100%;
      height: 100%;
      li {
        a {
          font-size: 12px;
        }
      }
    }
  }
  .header__bottom {
    .header__bottom__text {
      max-width: 600px;
    }
  }
  .bottom-btn-next,
  .bottom-btn-prev {
    display: none;
  }

  //about

  .about {
    .about__heading {
      padding-top: 50px;
    }
    .about__subheading {
      max-width: 700px;
      margin: 0 auto;
    }
    .about__info {
      flex-direction: column;
      &__left {
        width: 100%;
        padding-bottom: 50px;
      }
    }
    .about__advantages {
      flex-direction: column;
      .flat__design__wrap,
      .retina__ready__wrap,
      .responsive__wrap,
      .clean__wrap {
        width: 70%;
      }
    }
    .advantages__card {
      margin-bottom: 40px;
    }
    .flat__design__wrap {
      .advantages__card__hexagon {
        &::before {
          left: 47.3%;
        }
      }
    }
    .retina__ready__wrap {
      .advantages__card__hexagon {
        &::before {
          left: 47.5%;
        }
      }
    }
    .responsive__wrap {
      .advantages__card__hexagon {
        @include iconshexagon;
        &::before {
          left: 47.5%;
        }
      }
    }
    .clean__wrap {
      .advantages__card__hexagon {
        &::before {
          left: 48%;
        }
      }
    }
  }
  //features
  .features__subheading {
    max-width: 700px;
    margin: 0 auto;
  }

  //clients
  .clients__subheading {
    max-width: 700px;
    margin: 0 auto;
  }
  .clients {
    .clients__review {
      flex-direction: column;
      align-items: center;
      .clients__review__right {
        flex-wrap: nowrap;
        flex-direction: column;
        max-width: 270px;
      }
    }
  }
  //services
  .services {
    .services__wrapper {
      padding: 100px 10px;
    }
    .services__subheading {
      max-width: 700px;
      margin: 0 auto;
    }
    &__function {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    &__card {
      max-width: 570px;
    }
    .services__function__application,
    .services__function__design {
      padding-bottom: 60px;
    }
  }
  //bestseller

  .bestseller {
    .bestseller__reseller {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      max-width: 1173px;
    }
    .bestseller__reseller__first,
    .bestseller__reseller__second,
    .bestseller__reseller__third,
    .bestseller__reseller__fourth {
      width: 50%;
    }
    .reseller {
      margin: 0 auto;
    }
  }
  //address
  .address {
    .address__subheading {
      max-width: 700px;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 640px) {
  //header
  .header__top {
    .header__top__logo {
      padding-left: 0;
    }
  }
  #menu__toggle:checked ~ nav .menu__box {
    visibility: visible;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: 100%;
    li {
      padding-right: 0;
      a {
        font-size: 12px;
      }
    }
  }
  .header__bottom {
    &__btn {
      flex-direction: column;
      max-width: 170px;
      margin: 0 auto;
    }
    .header__bottom__btn1 {
      margin: 0 0 20px 0;
    }
    .header__bottom__text {
      max-width: 300px;
      .text {
        font-size: 12px;
      }
    }
  }

  //about
  .about {
    .about__wrapper {
      padding: 30px;
    }
    .about__info__right {
      .about__info__right__hexagon__first {
        position: relative;
        width: 200px;
        height: 115.47px;
        margin: 57.74px 0;
        background-size: auto 230.9401px;
        background-position: center;
        &:after {
          content: "";
          position: absolute;
          top: 0px;
          left: 0;
          width: 200px;
          height: 115.4701px;
          z-index: 2;
          background: inherit;
        }
      }
      .hexTop,
      .hexBottom {
        position: absolute;
        z-index: 1;
        width: 141.42px;
        height: 141.42px;
        overflow: hidden;
        -webkit-transform: scaleY(0.5774) rotate(-45deg);
        -ms-transform: scaleY(0.5774) rotate(-45deg);
        transform: scaleY(0.5774) rotate(-45deg);
        background: inherit;
        left: 29.29px;
      }

      /*counter transform the bg image on the caps*/
      .hexTop:after,
      .hexBottom:after {
        content: "";
        position: absolute;
        width: 200px;
        height: 115.47005383792516px;
        -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-57.735px);
        -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-57.735px);
        transform: rotate(45deg) scaleY(1.7321) translateY(-57.735px);
        -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;
        background: inherit;
      }

      .hexTop {
        top: -70.7107px;
      }

      .hexTop:after {
        background-position: center top;
      }

      .hexBottom {
        bottom: -70.7107px;
      }

      .hexBottom:after {
        background-position: center bottom;
      }
    }
    .about__advantages {
      flex-direction: column;
      .flat__design__wrap,
      .retina__ready__wrap,
      .responsive__wrap,
      .clean__wrap {
        width: 70%;
      }
    }
    .flat__design__wrap {
      .advantages__card__hexagon {
        &::before {
          left: 44.3%;
        }
      }
    }
    .retina__ready__wrap {
      .advantages__card__hexagon {
        &::before {
          left: 44.5%;
        }
      }
    }
    .responsive__wrap {
      .advantages__card__hexagon {
        @include iconshexagon;
        &::before {
          left: 44.5%;
        }
      }
    }
    .clean__wrap {
      .advantages__card__hexagon {
        &::before {
          left: 45%;
        }
      }
    }
  }

  //portfolio
  .portfolio {
    .portfolio__subheading {
      padding: 0px 8px 0 24px;
      .portfolio__card__subheading {
        font-size: 10px;
      }
    }
  }

  //features {
  .features {
    .features__btn {
      .buttonlarge {
        padding: 0 10px;
        min-width: inherit;
        max-width: 130px;
      }
    }
    .features__card {
      min-width: 314px;
      padding: 0 3px;
    }
  }
  //cleints

  .clients {
    .clients__review {
      .clients__review__left {
        width: 80%;
        .top {
          font-size: 15px;
        }
        .mid {
          font-size: 12px;
        }
      }
      .clients__card {
        min-width: 200px;
      }
    }
  }
  //bestseller
  .bestseller .bestseller__reseller__first,
  .bestseller .bestseller__reseller__second,
  .bestseller .bestseller__reseller__third,
  .bestseller .bestseller__reseller__fourth {
    width: 80%;
  }

  //follow
  .follow {
    .follow__social {
      max-width: 230px;
      margin: 0 auto;
      &__facebook,
      &__twitter {
        margin-bottom: 40px;
      }
    }
  }
}
