// Colors

$accent:#ff0036; // border shape logo, buttons, hover menu, part of heading, hower, activeted elements; 
$second:#131313; // menu , buttons
$whitetext:#ffffff; // using when is needed a white text;
$unhoveredtext:#7b7b7c; // menu unhovered text;
$heading:#262626;  // part of heading;
$subheading:#505050; // sunheading;
$text:#a4a4a4; //  using when is needed accent color text;
$footerlogo:#5c5c5c; // logo color in the footer;
$footerautor:#8e8e8e; // Autor text color in the footer;

// Fonts 

/*Raleway*/
$RR: "RalewayRegular"; //  menu;
$RM: "RalewayMedium"; //  text of buttons, accordion heading, added heading;
$RB: "RalewayBold"; // headings;

/*Lato*/
$LR: "LatoRegular"; // text of slider,accent text;
$LB: "LatoBold"; //text of subheadings;
$LL: "LatoLight"; // text of the percent;

/*Other fonts*/
$MOM: "MgOpenModata"; // text of strange icons; 



